@model SubMenuNotes

<ul class="nav nav-pills nav-fill mb-3">
	<li class="nav-item">
		<a class="nav-link @(Model == SubMenuNotes.All ? "active" : null)" asp-action="Index" asp-route-toShow=@(SubMenuNotes.All.ToString())>All</a>
	</li>

	<li class="nav-item">
		<a class="nav-link @(Model == SubMenuNotes.Mine ? "active" : null)" asp-action="Index" asp-route-toShow=@(SubMenuNotes.Mine.ToString())>Mine</a>
	</li>
</ul>
