@model EditNoteDto

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit note: @Model.Text</h1>
<hr />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Notes" asp-action="Edit">
	<input type="hidden" asp-for="Id"/>

	<div class="mb-3">
		<label asp-for="Text" class="form-label"></label>
		<input type="text" asp-for="Text" name="Text" class="form-control" />
		<span asp-validation-for="Text" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="NoteImportanceId" class="form-label"></label>
		<select asp-for="NoteImportanceId" asp-items="Model.NoteImportance" class="form-select"></select>
		<span asp-validation-for="NoteImportanceId" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Add</button>

	<a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>



@* Not needed for now, but we would if other type of validations were needed, such as credit cards*@
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

