@using Notes.Models_and_DTOs.DTOs
@model IndexNoteDto

@{
	ViewData["Title"] = "Notes";
	Model.ThisUrl = "Index";
}

<partial name="_SubMenu" Model="SubMenuNotes.All" />

<h1>Notes</h1>

<h5>See notes from everyone!</h5>

<partial name="Shared/_NotesTable" Model="Model" />