@model IndexNoteDto

@{
	ViewData["Title"] = "My notes";
	Model.ThisUrl = "MyNotes";
}

@if (Model.UserId == -1)
{
	<script>window.location.href = '@Url.Action("Login", "User")';</script>
}

<partial name="_SubMenu" Model="SubMenuNotes.Mine" />

<h1>Notes</h1>

<h5>All your notes, here!</h5>

<partial name="Shared/_NotesTable" Model="Model" />